{% extends "template.html" %}
{% block content %}
<div id="indexcontent" class="modal-body row">
    <div class="col-md-2 sidebar">
        <nav id="headings" class="toc sticky-top">
            <br></br><br></br>
            <ul></ul>
        </nav>
    </div>
    <div class="col-md-10">
        <div class="modal-body row ">
            <div class="col-md-4">
                <div>
                    <img src="https://www.tutorialspoint.com/html/images/test.png" alt="Simply Easy Learning" width="200" height="80">
                </div>
                <div id="socialset">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-github" aria-hidden="true"></i>
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <i class="fa fa-download" aria-hidden="true"></i>
                </div>
            </div>  
            <div class="col-md-8">
                <h2 id="Biography">Biography</h2>
                <p>Hi, I am Sandeep Magar, currently working as a Software Engineer (Member of Technical Staff) 
                    at VMware in the SRE Automation Platform team. I have a Master’s degree in CS from 
                    UT Dallas and a Bachelor of Technology degree from the Indian Institute of Technology (IIT) 
                    Guwahati.</p>
                <p>Previously, I worked at Works Applications, Singapore as a 
                        Software Engineer, where I worked on delivering libraries, microservices 
                        and distributed multi-tenant architecture to thousands of developers 
                        inside the company who utilized them to build various products 
                        for our customers. Aside from work, I am also an open-source enthusiast 
                        and have created projects that were listed in GitHub trending</p>
                <p>My interests lie in solving problems related to large-scale distributed software systems.
                        I am enginnering manager with 13+ years of industry experiecne.My skills 
                        are across functional and technical teams.My skills are across 
                        functional and technical teams.</p>   
                <div class="modal-body row">
                    <div class="col-md-6">
                        <h4>Interests</h4>
                    </div>
                    <div class="col-md-6">
                        <h4>Education</h4>
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <section class="bg-light">
            <br/>
            <div>
                <h2 class="text-center" id="Skills">Skills</h2>
            <div class=skillset>
                <img src="https://img.icons8.com/color/48/000000/python--v1.png"></img>
                <img src="https://img.icons8.com/ios-filled/50/000000/flask.png"/>
                <img src="https://img.icons8.com/color/48/000000/django.png"/>
                <img src="https://img.icons8.com/color/48/000000/javascript--v1.png"/></img>
                <img src="https://img.icons8.com/color/48/000000/ibm.png"/></img>
                <img src="https://img.icons8.com/color/48/000000/linux--v1.png"/></img>           
            </div>
            <br/>
        </section>
        <section>
            <div class="modal-body row">
                <div class="col-md-2">
                    <h2 id="Experience">Experience</h2>
                </div>
                <div class="col-lg-10 container-fluid">
                    <ul class="timeline">
                        <li class="p-4">
                            <h5>Engineering Manager</h5>
                            <h6>Capgemini</h6>
                            <span>June 2021 - Preesent . San Diego</span>
                            <div>
                                <ul>
                                    <li>Application Developert</li>
                                    <li>Application Developert</li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-4">
                            <h5>Technical Lead</h5>
                            <h6>Tata Consultancy Services</h6>
                            <span>June 2021 - Preesent . San Diego</span>
                            <div>
                                <ul>
                                    <li>Application Developert</li>
                                    <li>Application Developert</li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-4">
                            <h5>Application Developer</h5>
                            <h6>Capgemini India pvt</h6>
                            <span>June 2021 - Preesent . San Diego</span>
                            <div>
                                <ul>
                                    <li>Application Developert</li>
                                    <li>Application Developert</li>
                                </ul>
                            </div>
                        </li>
                        <li class="p-4">
                            <h5>Sr. Tech support</h5>
                            <h6>Mphasis India Pvt ltd</h6>
                            <span>June 2021 - Preesent . San Diego</span>
                            <div>
                                <ul>
                                    <li>Application Developert</li>
                                    <li>Application Developert</li>
                                </ul>
                            </div>
                        </li>       
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="modal-body row">
                <div class="col-mod-2">
                    <h2 id="Projectslist">Projects List</h2>
                </div>
                <div class="col-md-10">
                    <ul>
                        <li class="card">
                            Command Line App
                        </li>
                        <li class="card">
                            Wire Product Migration
                        </li>
                        <li class="card">
                            Static Site generator
                        </li>       
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}